.headerIndex{
    margin-top: 2%;
    width: 80%;
    height: 80px;
    margin-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    .navLeft{
        display: flex;
        justify-content: flex-start;
        float: left;
        
        li{
            list-style: none;
            margin-left: 4%;

            &:nth-child(1){
                margin-left: 0%;
            }

            .styleBorder{
                border-bottom: 2px solid $white;
                width: 0%;

                transition: width;
                transition-duration: .3s;
                &:hover{
                    width: 100%;
                    
                }
            }
            a{
                text-decoration: none;
                color: $lightGray;
                font-family: $varela;
                font-size: 25px;
                letter-spacing: 2px;

                transition: color;
                transition-duration: .1s;

                &:hover{
                    color: $white;
                }
            }
        }
    }

    .navRight{
        display: flex;
        justify-content: flex-end;
        li{
            display: flex;
            flex-direction: row;   
            list-style: none;

            &:nth-child(1){
                margin-right: 15%;
            }
            &:nth-child(2){
                margin-right: 15%;
            }
            
            a{
                text-decoration: none;
                img{ 
                    width: 40px;
                    height: 40px;

                    border: none;
                    border-radius: 50%;
                    transition: transform;
                    transition-duration: .2s;
                    &:hover{
                        transform: scale(1.3, 1.3)
                    }
                    }
                }
        }
    }
}