.headerIndex{
    max-width: 100%;
    margin-top: 1%;
    height: 60px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    background: transparent;
    
    .buttonsViewMode{
        display: none;
    }
    .navLeft{
        display: flex;
        justify-content: flex-start;
        float: left;
        li{
            list-style: none;
            margin-left: 10%;
            &:nth-child(1){
                margin-left: 2%;
            }

            .styleBorderLight{
                border-bottom: 2px solid  rgb(188,0,255);
                &:hover {
                    width: 100%;
                }
            }
            a{
                text-decoration: none;
                color: $lightGray;
                font-family: $varela;
                font-size: 11px;
                letter-spacing: 1px;
            }
        }
    }
   
    .navRight{
        display: flex;
        flex-direction: row;  
        margin-left: -15%;
        
        li{
            margin-left: -25%;
            list-style: none;
            
            &:nth-child(1){
                margin-right: 5%;
            }
            &:nth-child(2){
                margin-right: 5%;
                margin-left: 0%;
            }
            &:nth-child(3){
                margin-left: 0%;
            }
            
            a{
                text-decoration: none;
                img{ 
                    width: 30px;
                    height: 30px;
                    border-radius: 1px solid $backgroundColor;
                    border: none;
                    border-radius: 50%;
                }
            }
        }
    }

    .lightMode{
        li{
            a{
                color: black;

                &:hover{
                    color: $purple;
                }
            }
        }
    }
}