//mediaquerys


@media(max-width: 1780px) {

    .menuLateral {
        padding: 13px 13px;
        margin-top: 8rem;
        width: 300px;
        

        p {
            font-size: 24px;
            font-weight: 500;
        }

        nav {
            ul {
                .navMarcas {
                    font-size: 22px;

                    a {}

                    .navNike {


                        a {}

                    }
                }
            }
        }
    }
    .gridProdutos{
        margin-left: 435px;
    }
    
}


@media(max-width: 1900px) {
    .menuLateral {
        padding: 13px 13px;
        margin-top: 8rem;
        width: 300px;


        p {
            font-size: 24px;
            font-weight: 500;
        }

        nav {
            ul {
                .navMarcas {
                    font-size: 22px;

                    a {}

                    .navNike {


                        a {}

                    }
                }
            }
        }
    }
}