@media (min-width: 409px){
    #contato {
        clear: both;
        max-width: 100%;
        hr {
            margin-top: 6%;
            border-radius: 4rem;
        }
    
        #contatoContent {
            margin-top: 3%;
            height: 400px;
    
            padding: 2rem 3rem;
    
            h2 {
                color: $white;
                font-family: $varela;
                letter-spacing: 2px;
                font-size: 20px;
            }
    
            p {
                color: $white;
                font-family: $varela;
                letter-spacing: 2px;
                font-size: 10px;
    
                margin-top: 3%;
            }
    
    
            #formularioContato {
                margin-top: 4%;
    
                form {
                    display: flex;
                    flex-direction: column;
    
                    &:nth-child(4) {
                        flex-direction: row;
                    }
    
                    margin-top: 3%;
    
                    label {
                        color: $white;
                        font-family: $varela;
                        letter-spacing: 1px;
                        font-size: 18px;
    
                        margin-bottom: 3px;
    
                    }
    
                    input {
    
                        width: 250px;
                        height: 40px;
                        padding: 4px 8px;
    
                        border: none;
                        border-radius: 4rem;
    
                        margin-bottom: 4.2%;
    
                        font-family: $varela;
                        letter-spacing: 1px;
                        font-size: 18px;
    
                    }
    
                    select {
                        width: 250px;
                        height: 40px;
                        padding: 4px 6px;
    
                        border: none;
    
                        margin-bottom: 2%;
    
                        font-family: $varela;
                        letter-spacing: 1px;
                        font-size: 18px;
    
                    }
    
                    textarea {
                        width: 250px;
                        height: 150px;
                        padding: 8px 10px;
    
                        margin-top: 6%;
                        border: none;
                        border-radius: 1rem;
    
                        font-family: $varela;
                        letter-spacing: 1px;
                        font-size: 18px;
    
                    }
    
                    button {
                        width: 250px;
                        height: 40px;
                        padding: 4px 6px;
    
                        border: none;
                        border-radius: 4rem;
    
                        margin-top: 8%;
    
                        font-family: $varela;
                        letter-spacing: 1px;
                        font-size: 18px;
    
                    }
                }
    
            }
    
            .navContato {
                max-width: 250px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 5%;
    
                li {
                    list-style: none;
    
                    a {
                        text-decoration: none;
    
                        img {
                            width: 50px;
                            height: 50px;
    
                            border-radius: 50%;
    
                            transition: transform;
                            transition-duration: .2s;
    
                            
    
                            &:hover {
                                transform: scale(1.2)
                            }
                        }
                    }
                }
            }
        }
    }

    #rodape{
        margin-top:50vh;;
        hr{
            margin-top: 6%;
            margin-bottom: 6%;
            
            width: 100%;
        }
    
        #rodapeContent{
            background: black;
            
            width: 100%;
            height: 150px;
            
            display: flex;
            align-items: center;
            justify-content: center;
            p{ 
                color: $white;
                font-family: $varela;
                span{
                    color: $orange;
                }
                a{
                    text-decoration: none;
                    color: $orange;
                    font-family: $varela;
                    
                }
            }
        }
    }
}
