@media (max-width: 1370px){

    body{
        height: 340vh;
    }
    .headerIndex{
        margin-top: 2%;
        .navLeft{
            li{
                
                a{
                    font-size: 20px;
                    letter-spacing: 1.5px;
                }
            }
        }
    }
    
    #welcomeIndex {
        #welcome {
            margin-top: 4%;
            font-size: 70px;
            margin-right: 7%;
            float: left;
        }
    
        #aboutWelcome {
            margin-top: 6%;
            letter-spacing: 1.5px;
            font-size: 15px;
        }
    

        #aboutMe {
            hr {
                margin-top: 6%;
            }
    
        }
    
    }

    #contato {
        clear: both;
        max-width: 80%;
    
        margin-left: 10%;
    
        background: url("../images/images/vectorIndex.png");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 350px 350px;
    
        hr {
            margin-top: 6%;
            border-radius: 4rem;
        }
    
        #contatoContent {
            margin-top: 3%;
            height: 400px;
            padding: 2rem 3rem;
            h2 {
                color: $white;
                font-family: $varela;
                letter-spacing: 2px;
                font-size: 23px;
            }
    
            p {
                color: $white;
                font-family: $varela;
                letter-spacing: 2px;
                font-size: 10px;
    
                margin-top: 1%;
            }
            #formularioContato {
                margin-right: 48%;
                margin-top: 2%;
                form {
                    display: flex;
                    flex-direction: column;
    
                    &:nth-child(4) {
                        flex-direction: row;
                    }
                    margin-top: 3%;
                    input {
    
                        width: 250px;
                        height: 40px;
                    }
                    textarea {
                        margin-top: 1.3%;
                        margin-left: 22%;
                    }
                }
            }
            .navContato {
                margin-top: 6%;
                li {
                    list-style: none;
    
                    &:nth-child(2) {
                        margin-top: 2.5%;
                    }
    
                    &:nth-child(3) {
                        margin-top: 2.5%;
                    }
                    a {
                        img {
                            width: 60px;
                            height: 60px;
    
                        }
                    }
                }
            }
        }
    }
}
