#rodape{
    margin-top: 45vh;
    hr{
        margin-top: 6%;
        margin-bottom: 6%;
        
        width: 100%;
       
    }

    #rodapeContent{
        background: black;
        
        width: 100%;
        height: 150px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        p{ 
            color: $white;
            font-family: $varela;
            span{
                color: $orange;
            }
            a{
                text-decoration: none;
                color: $orange;
                font-family: $varela;
                
            }
        }
    }
}