//Colors
$darkBlue: #407294;
$lightBlue: #5bb9fa;
$white : #FFFFFF;
$black : #000000;
$lightBlack: #2f2f2f;
$lightGray: #dadada;
$gray: #e3e3e3;
$darkGray: #bfbfbf;
$red: #ff0000;
$darkRed: #cc0404;

//Font

$nunito: 'Nunito', sans-serif;