* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #181818;
  max-width: 100%;
  height: 320vh;
}

html {
  max-width: 100%;
}

.headerIndex {
  max-width: 100%;
  margin-top: 1%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
}

.headerIndex .buttonsViewMode {
  display: none;
}

.headerIndex .navLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: left;
}

.headerIndex .navLeft li {
  list-style: none;
  margin-left: 10%;
}

.headerIndex .navLeft li:nth-child(1) {
  margin-left: 2%;
}

.headerIndex .navLeft li .styleBorderLight {
  border-bottom: 2px solid #bc00ff;
}

.headerIndex .navLeft li .styleBorderLight:hover {
  width: 100%;
}

.headerIndex .navLeft li a {
  text-decoration: none;
  color: #e3e3e3;
  font-family: "Varela Round", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
}

.headerIndex .navRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: -15%;
}

.headerIndex .navRight li {
  margin-left: -25%;
  list-style: none;
}

.headerIndex .navRight li:nth-child(1) {
  margin-right: 5%;
}

.headerIndex .navRight li:nth-child(2) {
  margin-right: 5%;
  margin-left: 0%;
}

.headerIndex .navRight li:nth-child(3) {
  margin-left: 0%;
}

.headerIndex .navRight li a {
  text-decoration: none;
}

.headerIndex .navRight li a img {
  width: 30px;
  height: 30px;
  border-radius: 1px solid #181818;
  border: none;
  border-radius: 50%;
}

.headerIndex .lightMode li a {
  color: black;
}

.headerIndex .lightMode li a:hover {
  color: #a200ff;
}

.welcomeIndex {
  margin-top: 2%;
  max-width: 100%;
}

.welcomeIndex hr {
  margin-top: 0%;
  border-radius: 4rem;
}

.welcomeIndex .welcome {
  margin-top: 4%;
  padding: 10px 10px;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-size: 40px;
  margin-left: 10%;
  margin-right: 8%;
  background: #ff7300;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7300), color-stop(48%, #ff6f00), color-stop(90%, #ff7510));
  background: linear-gradient(180deg, #ff7300 0%, #ff6f00 48%, #ff7510 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcomeIndex .aboutWelcome {
  margin-top: 8%;
  margin-left: 2%;
  border: none;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px;
  font-size: 12px;
  line-height: 2rem;
}

.welcomeIndex .welcomeLight {
  background: #bc00ff;
  background: -webkit-gradient(linear, left bottom, left top, from(#bc00ff), color-stop(42%, #a200ff), color-stop(90%, #8410ff));
  background: linear-gradient(0deg, #bc00ff 0%, #a200ff 42%, #8410ff 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcomeIndex .aboutWelcomeLight {
  color: black;
}

#aboutMe {
  max-width: 100%;
}

#aboutMe hr {
  margin-top: 13%;
  border-radius: 4rem;
}

#aboutMe .aboutMeContent {
  background: #ff4c00;
  background: linear-gradient(66deg, #ff4c00 0%, #ff6f00 48%, #ff852c 90%);
  height: 420px;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#aboutMe .aboutMeContent img {
  width: 150px;
  height: 150px;
  margin-top: 5%;
}

#aboutMe .aboutMeContent h2 {
  margin-top: 2%;
  color: #181818;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;
}

#aboutMe .aboutMeContent p {
  margin-top: 2%;
  padding: 0px 10px;
  color: #181818;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px;
  font-size: 11px;
  text-align: center;
}

#aboutMe .aboutMeContentLight {
  background: #bc00ff;
  background: linear-gradient(189deg, #bc00ff 0%, #a200ff 42%, #8410ff 90%);
}

#portifolio {
  max-width: 100%;
}

#portifolio hr {
  margin-top: 6%;
  border-radius: 4rem;
}

#portifolio .portifolioContent {
  background: #ff4c00;
  background: linear-gradient(66deg, #ff4c00 0%, #ff6f00 48%, #ff852c 90%);
  height: 400px;
  margin-top: 6%;
  border-radius: 1rem;
  padding: 3rem 5rem;
  text-align: center;
}

#portifolio .portifolioContent h1 {
  margin-top: 100px;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px;
  font-size: 17px;
}

#portifolio .portifolioContentLight {
  background: #bc00ff;
  background: linear-gradient(189deg, #bc00ff 0%, #a200ff 42%, #8410ff 90%);
}

hr {
  margin-top: 8%;
  border-radius: 4rem;
}

#contato {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

#contato #contatoContent {
  margin-top: 2%;
  height: 400px;
  padding: 2rem 3rem;
}

#contato #contatoContent h2 {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}

#contato #contatoContent p {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
  margin-top: 3%;
}

#contato #contatoContent .h2Light {
  color: black;
}

#contato #contatoContent .pLight {
  color: black;
  font-size: 12px;
}

#contato #contatoContent #formularioContato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4%;
}

#contato #contatoContent #formularioContato form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3%;
}

#contato #contatoContent #formularioContato form:nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contato #contatoContent #formularioContato form label {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 3px;
}

#contato #contatoContent #formularioContato form input {
  width: 250px;
  height: 40px;
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 4rem;
  margin-bottom: 4.2%;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

#contato #contatoContent #formularioContato form select {
  width: 250px;
  height: 40px;
  padding: 4px 6px;
  border: 1px solid black;
  margin-bottom: 2%;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

#contato #contatoContent #formularioContato form textarea {
  width: 250px;
  height: 150px;
  padding: 8px 10px;
  margin-top: 6%;
  border: 1px solid black;
  border-radius: 1rem;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

#contato #contatoContent #formularioContato form button {
  width: 250px;
  height: 40px;
  padding: 4px 6px;
  border: none;
  border-radius: 4rem;
  margin-top: 8%;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

#contato #contatoContent .navContato {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 6%;
}

#contato #contatoContent .navContato li {
  list-style: none;
}

#contato #contatoContent .navContato li a {
  text-decoration: none;
}

#contato #contatoContent .navContato li a img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.rodape {
  margin-top: 50vh;
}

.rodape hr {
  margin-top: 6%;
  margin-bottom: 6%;
  width: 100%;
}

.rodape .rodapeContent {
  background: black;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rodape .rodapeContent p {
  color: #fff;
  font-family: "Varela Round", sans-serif;
}

.rodape .rodapeContent p span {
  color: #ff5d00;
}

.rodape .rodapeContent p a {
  text-decoration: none;
  color: #ff5d00;
  font-family: "Varela Round", sans-serif;
}

.rodape .rodapeContentLight {
  background: #bc00ff;
  background: linear-gradient(189deg, #bc00ff 0%, #a200ff 42%, #8410ff 90%);
}

@media (min-width: 409px) {
  #contato {
    clear: both;
    max-width: 100%;
  }
  #contato hr {
    margin-top: 6%;
    border-radius: 4rem;
  }
  #contato #contatoContent {
    margin-top: 3%;
    height: 400px;
    padding: 2rem 3rem;
  }
  #contato #contatoContent h2 {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
  }
  #contato #contatoContent p {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 10px;
    margin-top: 3%;
  }
  #contato #contatoContent #formularioContato {
    margin-top: 4%;
  }
  #contato #contatoContent #formularioContato form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3%;
  }
  #contato #contatoContent #formularioContato form:nth-child(4) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contato #contatoContent #formularioContato form label {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 3px;
  }
  #contato #contatoContent #formularioContato form input {
    width: 250px;
    height: 40px;
    padding: 4px 8px;
    border: none;
    border-radius: 4rem;
    margin-bottom: 4.2%;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent #formularioContato form select {
    width: 250px;
    height: 40px;
    padding: 4px 6px;
    border: none;
    margin-bottom: 2%;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent #formularioContato form textarea {
    width: 250px;
    height: 150px;
    padding: 8px 10px;
    margin-top: 6%;
    border: none;
    border-radius: 1rem;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent #formularioContato form button {
    width: 250px;
    height: 40px;
    padding: 4px 6px;
    border: none;
    border-radius: 4rem;
    margin-top: 8%;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent .navContato {
    max-width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 5%;
  }
  #contato #contatoContent .navContato li {
    list-style: none;
  }
  #contato #contatoContent .navContato li a {
    text-decoration: none;
  }
  #contato #contatoContent .navContato li a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  #contato #contatoContent .navContato li a img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .rodape {
    margin-top: 50vh;
  }
  .rodape hr {
    margin-top: 6%;
    margin-bottom: 6%;
    width: 100%;
  }
  .rodape .rodapeContent {
    background: black;
    width: 100%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .rodape .rodapeContent p {
    color: #fff;
    font-family: "Varela Round", sans-serif;
  }
  .rodape .rodapeContent p span {
    color: #ff5d00;
  }
  .rodape .rodapeContent p a {
    text-decoration: none;
    color: #ff5d00;
    font-family: "Varela Round", sans-serif;
  }
  .rodape .rodapeContentLight {
    background: #bc00ff;
    background: linear-gradient(189deg, #bc00ff 0%, #a200ff 42%, #8410ff 90%);
  }
}

@media (min-width: 568px) {
  .headerIndex {
    height: 60px;
  }
  .headerIndex .navLeft li {
    margin-left: 4%;
  }
  .headerIndex .navLeft li:nth-child(1) {
    margin-left: 4%;
  }
  .headerIndex .navLeft li a {
    font-size: 16px;
    letter-spacing: 1.1px;
  }
  .headerIndex .navRight {
    margin-left: -15%;
  }
  .headerIndex .navRight li {
    margin-left: -25%;
    list-style: none;
  }
  .headerIndex .navRight li:nth-child(1) {
    margin-right: 10%;
  }
  .headerIndex .navRight li:nth-child(2) {
    margin-right: 10%;
  }
  .headerIndex .navRight li a img {
    width: 35px;
    height: 35px;
  }
  .welcomeIndex .welcome {
    margin-top: 4%;
    padding: 10px 10px;
    color: #fff;
    font-family: "Varela Round", sans-serif;
    font-size: 50px;
  }
  .welcomeIndex .aboutWelcome {
    margin-top: 4%;
  }
  #aboutMe {
    max-width: 100%;
  }
  #aboutMe hr {
    margin-top: 3%;
    border-radius: 4rem;
  }
  #aboutMe .aboutMeContent h2 {
    margin-left: 0%;
    font-size: 20px;
  }
  #aboutMe .aboutMeContent p {
    margin-top: 2%;
    padding: 0px 10px;
    color: #181818;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
  }
}

@media (min-width: 1300px) {
  body {
    height: 250vh;
  }
  .headerIndex {
    margin-top: 2%;
    width: 80%;
    height: 80px;
    margin-left: 10%;
  }
  .headerIndex .buttonsViewMode {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2.8%;
    margin-left: 83%;
  }
  .headerIndex .buttonsViewMode button {
    background: url("../images/icons/iconSol.png");
    background-position: center;
    background-size: 60px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    margin-top: 20%;
    outline: none;
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  .headerIndex .buttonsViewMode button:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .headerIndex .buttonsViewMode button:nth-child(2) {
    background: url("../images/icons/iconLua.svg");
    background-position: center;
    background-size: 60px;
  }
  .headerIndex .navLeft {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    float: left;
    margin-left: 0%;
  }
  .headerIndex .navLeft li {
    margin-left: 4%;
  }
  .headerIndex .navLeft li .styleBorder {
    border-bottom: 2px solid #ff5d00;
    width: 0%;
    -webkit-transition: width;
    transition: width;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
  }
  .headerIndex .navLeft li .styleBorder:hover {
    width: 100%;
  }
  .headerIndex .navLeft li .styleBorder .styleBorderLight {
    border-bottom: 2px solid #bc00ff;
  }
  .headerIndex .navLeft li .styleBorder .styleBorderLight:hover {
    width: 100%;
  }
  .headerIndex .navLeft li a {
    font-size: 25px;
    letter-spacing: 2px;
    -webkit-transition: color;
    transition: color;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
  }
  .headerIndex .navLeft li a:hover {
    color: #ff5d00;
  }
  .headerIndex .navLeft li .aLight {
    -webkit-transition: color;
    transition: color;
    -webkit-transition-duration: .5s;
            transition-duration: .5s;
  }
  .headerIndex .navLeft li .aLight:hover {
    color: #bc00ff;
  }
  .headerIndex .navRight li:nth-child(1) {
    margin-right: 15%;
  }
  .headerIndex .navRight li:nth-child(2) {
    margin-right: 15%;
  }
  .headerIndex .navRight li a {
    text-decoration: none;
  }
  .headerIndex .navRight li a img {
    width: 40px;
    height: 40px;
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  .headerIndex .navRight li a img:hover {
    -webkit-transform: scale(1.3, 1.3);
            transform: scale(1.3, 1.3);
  }
  .welcomeIndex {
    margin-top: 2%;
    margin-left: 10%;
    max-width: 80%;
  }
  .welcomeIndex hr {
    border-radius: 4rem;
    border-radius: 4rem;
  }
  .welcomeIndex .welcome {
    margin-top: 4%;
    padding: 10px 10px;
    color: #fff;
    font-family: "Varela Round", sans-serif;
    font-size: 80px;
    margin-left: 10%;
    margin-right: 8%;
    float: left;
  }
  .welcomeIndex .aboutWelcome {
    margin-top: 6.2%;
    border: none;
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 2rem;
  }
  .welcomeIndex .aboutWelcomeLight {
    color: black;
  }
  #aboutMe {
    clear: both;
    max-width: 80%;
    margin-left: 10%;
  }
  #aboutMe hr {
    margin-top: 13%;
    border-radius: 4rem;
  }
  #aboutMe .aboutMeContent {
    background-color: #212121;
    height: 400px;
    margin-top: 6%;
    border-radius: 1rem;
    padding: 3rem 5rem;
  }
  #aboutMe .aboutMeContent img {
    width: 300px;
    height: 300px;
    margin-top: -2%;
    margin-left: 2%;
    margin-right: 10%;
    float: left;
  }
  #aboutMe .aboutMeContent h2 {
    margin-top: -2%;
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 28px;
  }
  #aboutMe .aboutMeContent p {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 16px;
  }
  #portifolio {
    max-width: 80%;
    margin-left: 10%;
  }
  #portifolio hr {
    margin-top: 6%;
    border-radius: 4rem;
  }
  #portifolio .portifolioContent {
    background-color: #212121;
    height: 400px;
    margin-top: 6%;
    border-radius: 1rem;
    padding: 3rem 5rem;
    text-align: center;
  }
  #portifolio .portifolioContent h1 {
    margin-top: 100px;
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 78px;
  }
  .hrContato {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 6%;
    border-radius: 4rem;
  }
  #contato {
    clear: both;
    max-width: 80%;
    margin-left: 10%;
    background: url("../images/images/vectorIndex.png");
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  #contato #contatoContent {
    margin-top: 3%;
    height: 400px;
    padding: 2rem 3rem;
  }
  #contato #contatoContent h2 {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 23px;
  }
  #contato #contatoContent p {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 10px;
    margin-top: 1%;
  }
  #contato #contatoContent #formularioContato {
    float: left;
    margin-right: 44%;
    margin-top: 2%;
  }
  #contato #contatoContent #formularioContato form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3%;
  }
  #contato #contatoContent #formularioContato form:nth-child(4) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contato #contatoContent #formularioContato form label {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 3px;
  }
  #contato #contatoContent #formularioContato form input {
    width: 250px;
    height: 40px;
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 4rem;
    margin-bottom: 4.2%;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent #formularioContato form select {
    width: 250px;
    height: 40px;
    padding: 4px 6px;
    border: 1px solid black;
    margin-bottom: 2%;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent #formularioContato form textarea {
    position: absolute;
    width: 400px;
    height: 265px;
    padding: 8px 10px;
    margin-top: 1.3%;
    margin-left: 25%;
    border: 1px solid black;
    border-radius: 1rem;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent #formularioContato form button {
    width: 250px;
    height: 40px;
    padding: 4px 6px;
    border: none;
    border-radius: 4rem;
    border: 1px solid black;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent .navContato {
    margin-top: 8%;
  }
  #contato #contatoContent .navContato li {
    list-style: none;
  }
  #contato #contatoContent .navContato li:nth-child(2) {
    margin-top: 0%;
    margin-left: 8%;
  }
  #contato #contatoContent .navContato li:nth-child(3) {
    margin-top: 0%;
    margin-left: 8%;
  }
  #contato #contatoContent .navContato li a {
    text-decoration: none;
  }
  #contato #contatoContent .navContato li a img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  #contato #contatoContent .navContato li a img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .rodape {
    margin-top: 18vh;
  }
  .rodape hr {
    margin-top: 6%;
    margin-bottom: 5%;
    width: 80%;
    margin-left: 10%;
  }
}

@media (min-width: 1500px) {
  .welcomeIndex .aboutWelcome {
    margin-top: 6.5%;
    font-size: 19px;
    line-height: 2rem;
  }
  .welcomeIndex .aboutWelcomeLight {
    color: black;
  }
  #aboutMe hr {
    margin-top: 5%;
    border-radius: 4rem;
  }
  #aboutMe p {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 35px;
  }
  #contato {
    background: url("../images/images/vectorIndex.png");
    background-size: 450px;
    background-repeat: no-repeat;
    background-position: right bottom;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  #contato #contatoContent #formularioContato form textarea {
    position: absolute;
    width: 400px;
    height: 265px;
    padding: 8px 10px;
    margin-top: 1.3%;
    margin-left: 21.3%;
    border: 1px solid black;
    border-radius: 1rem;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent .navContato {
    margin-top: 10%;
  }
  #contato #contatoContent .navContato li {
    list-style: none;
  }
  #contato #contatoContent .navContato li:nth-child(2) {
    margin-top: 0%;
    margin-left: 10%;
  }
  #contato #contatoContent .navContato li:nth-child(3) {
    margin-top: 0%;
    margin-left: 10%;
  }
  #contato #contatoContent .navContato li a {
    text-decoration: none;
  }
  #contato #contatoContent .navContato li a img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  #contato #contatoContent .navContato li a img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media (min-width: 1598px) {
  #aboutMe hr {
    margin-top: 13%;
    border-radius: 4rem;
  }
}
/*# sourceMappingURL=main.css.map */