* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #181818;
  height: 320vh;
}

.headerIndex {
  margin-top: 2%;
  width: 80%;
  height: 80px;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: transparent;
}

.headerIndex .navLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: left;
}

.headerIndex .navLeft li {
  list-style: none;
  margin-left: 4%;
}

.headerIndex .navLeft li:nth-child(1) {
  margin-left: 0%;
}

.headerIndex .navLeft li .styleBorder {
  border-bottom: 2px solid #ff5d00;
  width: 0%;
  -webkit-transition: width;
  transition: width;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.headerIndex .navLeft li .styleBorder:hover {
  width: 100%;
}

.headerIndex .navLeft li a {
  text-decoration: none;
  color: #e3e3e3;
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  letter-spacing: 2px;
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.headerIndex .navLeft li a:hover {
  color: #ff5d00;
}

.headerIndex .navRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.headerIndex .navRight li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

.headerIndex .navRight li:nth-child(1) {
  margin-right: 15%;
}

.headerIndex .navRight li:nth-child(2) {
  margin-right: 15%;
}

.headerIndex .navRight li a {
  text-decoration: none;
}

.headerIndex .navRight li a img {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  -webkit-transition: background;
  transition: background;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.headerIndex .navRight li a img:hover {
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  background: #ff5d00;
  background-size: 30px;
  background-position: center;
}

#welcomeIndex {
  margin-top: 2%;
  margin-left: 10%;
  max-width: 80%;
}

#welcomeIndex hr {
  border-radius: 4rem;
  border-radius: 4rem;
}

#welcomeIndex #welcome {
  margin-top: 4%;
  padding: 10px 10px;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  font-size: 80px;
  margin-left: 10%;
  margin-right: 8%;
  float: left;
  background: #ff7300;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7300), color-stop(48%, #ff6f00), color-stop(90%, #ff7510));
  background: linear-gradient(180deg, #ff7300 0%, #ff6f00 48%, #ff7510 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#welcomeIndex #aboutWelcome {
  margin-top: 8%;
  border: none;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 2rem;
}

#aboutMe {
  clear: both;
  max-width: 80%;
  margin-left: 10%;
}

#aboutMe hr {
  margin-top: 13%;
  border-radius: 4rem;
}

#aboutMe #aboutMeContent {
  background: #ff4c00;
  background: linear-gradient(66deg, #ff4c00 0%, #ff6f00 48%, #ff852c 90%);
  height: 400px;
  margin-top: 6%;
  border-radius: 1rem;
  padding: 3rem 5rem;
}

#aboutMe #aboutMeContent img {
  width: 300px;
  height: 300px;
  margin-left: 2%;
  margin-right: 10%;
  float: left;
}

#aboutMe #aboutMeContent h2 {
  color: #181818;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px;
  font-size: 28px;
}

#aboutMe #aboutMeContent p {
  margin-top: 2%;
  color: #181818;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px;
  font-size: 18px;
  line-height: rem;
}

#portifolio {
  max-width: 80%;
  margin-left: 10%;
}

#portifolio hr {
  margin-top: 6%;
  border-radius: 4rem;
}

#portifolio #portifolioContent {
  background-color: #212121;
  height: 400px;
  margin-top: 6%;
  border-radius: 1rem;
  padding: 3rem 5rem;
  text-align: center;
}

#portifolio #portifolioContent h1 {
  margin-top: 100px;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px;
  font-size: 78px;
}

#contato {
  clear: both;
  max-width: 80%;
  margin-left: 10%;
  background: url("../images/images/vectorIndex.png");
  background-repeat: no-repeat;
  background-position: right top;
}

#contato hr {
  margin-top: 6%;
  border-radius: 4rem;
}

#contato #contatoContent {
  margin-top: 3%;
  height: 400px;
  padding: 2rem 3rem;
}

#contato #contatoContent h2 {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px;
  font-size: 23px;
}

#contato #contatoContent p {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 2px;
  font-size: 10px;
  margin-top: 1%;
}

#contato #contatoContent #formularioContato {
  float: left;
  margin-right: 44%;
  margin-top: 2%;
}

#contato #contatoContent #formularioContato form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3%;
}

#contato #contatoContent #formularioContato form:nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#contato #contatoContent #formularioContato form label {
  color: #fff;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 3px;
}

#contato #contatoContent #formularioContato form input {
  width: 250px;
  height: 40px;
  padding: 4px 8px;
  border: none;
  border-radius: 4rem;
  margin-bottom: 4.2%;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

#contato #contatoContent #formularioContato form select {
  width: 250px;
  height: 40px;
  padding: 4px 6px;
  border: none;
  margin-bottom: 2%;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

#contato #contatoContent #formularioContato form textarea {
  position: absolute;
  width: 400px;
  height: 265px;
  padding: 8px 10px;
  margin-top: 1.3%;
  margin-left: 18%;
  border: none;
  border-radius: 1rem;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

#contato #contatoContent #formularioContato form button {
  width: 250px;
  height: 40px;
  padding: 4px 6px;
  border: none;
  border-radius: 4rem;
  margin-top: 8%;
  font-family: "Varela Round", sans-serif;
  letter-spacing: 1px;
  font-size: 18px;
}

#contato #contatoContent .navContato {
  margin-top: 3%;
}

#contato #contatoContent .navContato li {
  list-style: none;
}

#contato #contatoContent .navContato li:nth-child(2) {
  margin-top: 1.5%;
}

#contato #contatoContent .navContato li:nth-child(3) {
  margin-top: 1.5%;
}

#contato #contatoContent .navContato li a {
  text-decoration: none;
}

#contato #contatoContent .navContato li a img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

#contato #contatoContent .navContato li a img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#rodape {
  clear: both;
}

#rodape hr {
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 10%;
  width: 80%;
}

#rodape #rodapeContent {
  background: black;
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#rodape #rodapeContent p {
  color: #fff;
  font-family: "Varela Round", sans-serif;
}

#rodape #rodapeContent p span {
  color: #ff5d00;
}

#rodape #rodapeContent p a {
  text-decoration: none;
  color: #ff5d00;
  font-family: "Varela Round", sans-serif;
}

@media (max-width: 599px) {
  body {
    height: 330vh;
  }
  .headerIndex {
    width: 100%;
    margin-left: 0%;
    margin-top: 1%;
    height: 80px;
  }
  .headerIndex .navLeft li a {
    font-size: 15px;
    letter-spacing: 1px;
  }
  .headerIndex .navRight li {
    margin-right: 5%;
  }
  .headerIndex .navRight li:nth-child(1) {
    margin-right: 10%;
  }
  .headerIndex .navRight li:nth-child(2) {
    margin-right: 10%;
  }
  .headerIndex .navRight li a img {
    width: 30px;
    height: 30px;
  }
  #welcomeIndex {
    margin-left: 0%;
    max-width: 100%;
  }
  #welcomeIndex hr {
    border-radius: 4rem;
  }
  #welcomeIndex #welcome {
    font-size: 50px;
    margin-left: 2%;
    margin-right: 0%;
    float: none;
  }
  #welcomeIndex #aboutWelcome {
    margin-top: 4%;
    margin-left: 2%;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 2rem;
  }
  #aboutMe {
    max-width: 100%;
    margin-left: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #aboutMe hr {
    margin-top: 5%;
    margin-bottom: 5%;
  }
  #aboutMe #aboutMeContent {
    text-align: center;
    height: 420px;
    border-radius: 0%;
  }
  #aboutMe #aboutMeContent img {
    width: 150px;
    height: 150px;
    margin-top: -10%;
    margin-left: 15%;
    float: none;
  }
  #aboutMe #aboutMeContent h2 {
    font-size: 16px;
    margin-top: 2%;
    text-align: center;
  }
  #aboutMe #aboutMeContent p {
    margin-top: 2%;
    font-size: 10px;
    margin-bottom: 2%;
  }
  #portifolio {
    max-width: 100%;
    margin-left: 0%;
  }
  #portifolio #portifolioContent {
    border-radius: 0%;
    height: 400px;
    margin-top: 6%;
  }
  #portifolio #portifolioContent h1 {
    margin-top: 100px;
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
  }
  #contato {
    max-width: 100%;
    margin-left: 0%;
    background: transparent;
  }
  #contato #contatoContent {
    margin-top: 3%;
  }
  #contato #contatoContent h2 {
    font-size: 15px;
  }
  #contato #contatoContent p {
    letter-spacing: 2px;
    font-size: 9px;
    margin-top: 3%;
  }
  #contato #contatoContent #formularioContato {
    float: none;
    margin-top: 3%;
  }
  #contato #contatoContent #formularioContato form {
    margin-top: 3%;
  }
  #contato #contatoContent #formularioContato form input {
    width: 320px;
  }
  #contato #contatoContent #formularioContato form select {
    width: 320px;
  }
  #contato #contatoContent #formularioContato form textarea {
    position: relative;
    width: 320px;
    height: 220px;
    margin-top: 5%;
    margin-left: 0%;
    border: none;
    border-radius: 4px;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent #formularioContato form button {
    width: 320px;
  }
  #contato #contatoContent .navContato {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 5%;
  }
  #contato #contatoContent .navContato li:nth-child(2) {
    margin-top: 0%;
    margin-left: 5%;
  }
  #contato #contatoContent .navContato li:nth-child(3) {
    margin-top: 0%;
    margin-left: 5%;
  }
  #contato #contatoContent .navContato li a {
    text-decoration: none;
  }
  #contato #contatoContent .navContato li a img {
    width: 60px;
    height: 60px;
  }
  #rodape {
    margin-top: 45vh;
  }
  #rodape hr {
    margin-top: 6%;
    margin-bottom: 6%;
    width: 100%;
    margin-left: 0%;
  }
  #rodape #rodapeContent {
    background: black;
    width: 100%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #rodape #rodapeContent p {
    color: #fff;
    font-family: "Varela Round", sans-serif;
  }
  #rodape #rodapeContent p span {
    color: #ff5d00;
  }
  #rodape #rodapeContent p a {
    text-decoration: none;
    color: #ff5d00;
    font-family: "Varela Round", sans-serif;
  }
}

@media (min-width: 1343px) {
  #welcomeIndex #welcome {
    font-size: 73px;
    margin-right: 7.5%;
  }
  #welcomeIndex #aboutWelcome {
    margin-top: 6%;
    font-size: 12px;
    line-height: 2rem;
  }
  #aboutMe #aboutMeContent p {
    font-size: 16px;
    line-height: rem;
  }
  #contato {
    background-size: 380px 380px;
    background-position: right bottom;
  }
  #contato #contatoContent #formularioContato {
    margin-right: 46%;
  }
  #contato #contatoContent #formularioContato form textarea {
    position: absolute;
    width: 400px;
    height: 265px;
    padding: 8px 10px;
    margin-top: 1.3%;
    margin-left: 20%;
    border: none;
    border-radius: 1rem;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent .navContato {
    margin-top: 4.6%;
  }
  #contato #contatoContent .navContato li:nth-child(2) {
    margin-top: 2.8%;
  }
  #contato #contatoContent .navContato li:nth-child(3) {
    margin-top: 2.8%;
  }
  #contato #contatoContent .navContato li a img {
    width: 68px;
    height: 68px;
  }
}

@media (min-width: 1600px) {
  #welcomeIndex #welcome {
    font-size: 80px;
  }
  #welcomeIndex #aboutWelcome {
    font-size: 18px;
  }
  #aboutMe #aboutMeContent h2 {
    font-size: 28px;
  }
  #aboutMe #aboutMeContent p {
    font-size: 18px;
  }
  #portifolio {
    max-width: 80%;
    margin-left: 10%;
  }
  #portifolio hr {
    margin-top: 6%;
    border-radius: 4rem;
  }
  #portifolio #portifolioContent {
    background-color: #212121;
    height: 400px;
    margin-top: 6%;
    border-radius: 1rem;
    padding: 3rem 5rem;
    text-align: center;
  }
  #portifolio #portifolioContent h1 {
    margin-top: 100px;
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 78px;
  }
  #contato {
    clear: both;
    max-width: 80%;
    margin-left: 10%;
    background: url("../images/images/vectorIndex.png");
    background-repeat: no-repeat;
    background-position: right top;
  }
  #contato hr {
    margin-top: 6%;
    border-radius: 4rem;
  }
  #contato #contatoContent {
    margin-top: 3%;
    height: 400px;
    padding: 2rem 3rem;
  }
  #contato #contatoContent h2 {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 23px;
  }
  #contato #contatoContent p {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 2px;
    font-size: 10px;
    margin-top: 1%;
  }
  #contato #contatoContent #formularioContato {
    float: left;
    margin-right: 41%;
    margin-top: 2%;
  }
  #contato #contatoContent #formularioContato form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 3%;
  }
  #contato #contatoContent #formularioContato form:nth-child(4) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #contato #contatoContent #formularioContato form label {
    color: #fff;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 3px;
  }
  #contato #contatoContent #formularioContato form input {
    width: 250px;
    height: 40px;
    padding: 4px 8px;
    border: none;
    border-radius: 4rem;
    margin-bottom: 4.2%;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent #formularioContato form select {
    width: 250px;
    height: 40px;
    padding: 4px 6px;
    border: none;
    margin-bottom: 2%;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent #formularioContato form textarea {
    position: absolute;
    width: 400px;
    height: 265px;
    padding: 8px 10px;
    margin-top: 1.3%;
    margin-left: 18%;
    border: none;
    border-radius: 1rem;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent #formularioContato form button {
    width: 250px;
    height: 40px;
    padding: 4px 6px;
    border: none;
    border-radius: 4rem;
    margin-top: 8%;
    font-family: "Varela Round", sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
  }
  #contato #contatoContent .navContato {
    margin-top: 4.2%;
  }
  #contato #contatoContent .navContato li {
    list-style: none;
  }
  #contato #contatoContent .navContato li:nth-child(2) {
    margin-top: 2.1%;
  }
  #contato #contatoContent .navContato li:nth-child(3) {
    margin-top: 2.1%;
  }
  #contato #contatoContent .navContato li a {
    text-decoration: none;
  }
  #contato #contatoContent .navContato li a img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-transition: -webkit-transform;
    transition: -webkit-transform;
    transition: transform;
    transition: transform, -webkit-transform;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
  }
  #contato #contatoContent .navContato li a img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/*# sourceMappingURL=main.css.map */